@font-face{
    font-family: bebas;
    src: url(./BebasNeue-Regular.ttf);
    font-weight: bold;
}

@font-face{
    font-family: lato;
    src: url(./Lato-Regular.ttf);
}

h1{
    font-family: bebas;
    text-align: center;
}
#Projects{
    display: flex;
}
#Projects .project1{
    background-color: rgba(255, 166, 0, 0.897);
    flex: 50%;
}
.project1 h2{
     color:rgb(0, 0, 107);
     text-align: center;
     font-family: bebas;
}

.project2 h2{
    color: rgb(230, 150, 0);
    text-align: center;
    font-family:bebas;
}

.project2 a{
    color: rgb(226, 147, 0);
    text-align: center;
    font-family: lato;
}

.project1 a{
    color: rgb(0, 0, 97);
    text-align: center;
    font-family: lato;
}
.project1 p{
    color:rgb(0, 0, 107);
    text-align: center;
    font-family: lato;
    padding-left: 20px;
    padding-right:20px;
}

.project2 p{
    color:rgb(224, 146, 0);
    text-align: center;
    font-family: lato;
    padding-left: 20px;
    padding-right:20px;
}

#Projects .project2{
    background-color: rgba(0, 0, 107, 0.932);
    flex: 50%;
}

.images{
    text-align: center;
}

.project1 img{
    border-radius:15px;
}

.project2 img{
    border-radius:15px;
}

.links{
    text-align: center;
}

h3{
    font-family: bebas;
    text-align: center;
}