body{
    background-color: black;
}

h1{
    color: chartreuse;
}

h2{
    color: chartreuse;
}

.link{
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#d3-dashboard{
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 2em;
    grid-template-areas: 
      "brack brack brack brack"
      "brack brack brack brack"
      "shot1 shot1 shot2 shot2"
      "shot1 shot1 shot2 shot2"
      "bar1  area1 bar2  area2";
}

#Bracket{
   grid-area:brack;  
}

#ShotChart1{
   grid-area:shot1;
}

#ShotChart2{
    grid-area:shot2;
}

#BarChart1{
  grid-area:bar1;
}

#AreaChart1{
  grid-area:area1; 
}

#BarChart2{
  grid-area:bar2;
}

#AreaChart2{
 grid-area:area2;
}