body{
    background-color:rgb(0, 0, 78);
}

h1{
    color: white;
    font-family:'Fjalla One',sans-serif;
    text-align:center;
}

h2{
    color: white;
    font-family:'Fjalla One',sans-serif;
    text-align:center;
}

.link{
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#d3-dashboard{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows:repeat(3,auto);
    text-align:center;
}

#shotchart-team1{
    color: white;
    grid-row:1/2;
    grid-column: 1/2;
    font-family:'Fjalla One',sans-serif;
    display:inline-block;
}

#shotchart-team2{
    color: white;
    grid-row:1/2;
    grid-column: 2/3;
    font-family:'Fjalla One',sans-serif;
    display:inline-block;
}

#ShotChart1{
   grid-row:2/3;
   grid-column:1/2;
   display:inline-block;
}

#ShotChart2{
    grid-row:2/3;
    grid-column:2/3;
    display:inline-block;
}

#BarChart1{
  grid-row:3/4;
  grid-column:1/2;
  display:inline-block;
}

/**#Chart1{
  grid-row:4/5;
  grid-column:2/3;
  display:inline-block;
}**/

#BarChart2{
  grid-row:3/4;
  grid-column:2/3;
  display:inline-block;
}

#expl-text{
  font-family: 'Fjalla One',sans-serif;
  color: white;
  text-align: center;
  font-size:12.5px;
}

/**#Chart2{
 grid-row:4/5;
 grid-column:4/5;
 display:inline-block;!
}**/

.axis{
    color:white;
}

.axis-label{
    fill:white;
}

.text1{
    fill:white;
}

.text2{
    fill:white;
}

.quartertext1{
    fill: white;
}

.quartertext2{
    fill:white;
}